*{
    margin: 0px;
    background-color: antiquewhite;
}
body {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 150px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 40px;
}

#Result{
    padding:50px;
    width:350px;
}